* {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  box-sizing: border-box;
}
body {
  background-image: url(images/hacker.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
/*---------------------------nav bar-----------------*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80vh;
  margin-top: 3vh;
}
li {
  display: contents;
  justify-content: space-between;
  align-items: center;
}
a {
  color: rgb(8, 247, 187);
  padding: 2vh;
  font-size: 3vh;
  margin-left: 5vh;
  cursor: pointer;
  text-decoration: none;
}

nav li a:hover {
  color: whitesmoke;
  transition: all 0.4s ease 0.2s;
  border: solid #f9004d;
  background: transparent;
  border-radius: 5vh;
  bottom: -6px;
}
.header-text h1 {
  font-size: 6vh;
  margin-top: 20vh;
  margin-left: 130vh;
  color: rgb(19, 228, 210);
}
/*---------------------------nav bar-----------------*/

/*-----------------About me ----------------*/
.about {
  margin-top: 96vh;
  width: 100%;
  padding: 78px 0px;
  background-color: #191919;
}
.about img {
  height: auto;
  width: 420px;
  border-radius: 15px;
}
.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-text h1 {
  color: white;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
span {
  color: #f9004d;
}
.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button {
  background: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
button:hover {
  background: transparent;
  border: 2px solid;
  cursor: pointer;
}
/*-----------------About me ----------------*/

/*--------------------0ur services--------------------*/

.container-2 {
  width: 100%;
  min-height: 100vh;
  background: #5c539d;
  background-size: cover;
}
.container-2 h2 {
  color: #fff;
  font-size: 52px;
  padding: 50px 0;
  text-align: center;
}
.price-row {
  width: 90%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
  margin: auto;
}
.price-col {
  background: #1f283b;
  padding: 10% 15%;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}
.price-col p {
  font-size: 22px;
}
.price-col h3 {
  font-size: 44px;
  margin: 20px 0 40px;
  font-weight: 500;
}
.price-col h3 span {
  font-size: 16px;
}
.price-col ul {
  text-align: left;
  margin: 20px 0;
  color: #ddd;
  list-style: none;
}
.price-col ul li {
  margin: 15px 15px;
}
.price-col ul li::before {
  content: "\2022";
  color: #e33058;
  font-weight: bold;
  margin-right: 8px;
}
.price-col button {
  width: 100%;
  padding: 14px 0;
  background: transparent;
  color: #fff;
  font-size: 15px;
  border: 1px solid #e33058;
  border-radius: 6px;
  margin-top: 30px;
  cursor: pointer;
  transition: backkground 0.5s;
}
.price-col button:hover {
  background: #e33058;
}
/*--------------------0ur services--------------------*/
/*---------------My Projects-----------------------*/
.container-3 {
  background-color: #191919;
}
#portfolio h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vh;
  padding-top: 1vh;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 60%;
  border-radius: 15px;
  display: block;
  transition: transform 0.5s;
  padding-left: 2px;
  border: solid #f9004d;
  border-width: 60%;
  justify-content: center;
}
.sub-title h1 {
  color: #ff004f;
}
.layer {
  width: 67%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 25px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
  width: 65%;
  margin-left: 0px;
}
.btn {
  display: inline-block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
  margin-bottom: 0;
  margin-left: 50px;
}
.btn:hover {
  background: #ff004f;
}


/*-----------------------CONTACT FORM---------------*/
.container-4{
  background-color: black;
}
.contact-left{
  flex-basis: 35%;
}


.contact-right{
  flex-basis: 60%;
  
}
.sub-title{
  color: white;
}
.contact-left p{
  margin-top: 30px;
  color: #fff;
  margin-left: 50px;

  
  
}
.contact-left h1{
  padding-top: 90px;
  font-size: 9vh;
  margin-left: 50px;

}

.contact-left p i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;

}
.social-icons a{
  text-decoration: none;
  font-size: 50px;
  margin-right: 0px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
  margin-left: 50px;
}
.social-icons a:hover{
  color: #ff004f;
  transform: translate(-5px);
}
.btn btn2{
  display: inline-flex;
  background: #f9004d;
  
 
}
.contact-right form{
  width: 30%;
  
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  margin-left: 50px;
}
.btn btn2{
  padding: 14px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
 
}














































/*media query -----------------*/

@media (max-width: 480px) {
  body {
    background-image: url(images/portrait.jpg);
    background-size: 140vh;
  }

  a {
    font-size: 22px;
    text-align: start;
    margin-left: 35vh;
  }

  nav li a:hover {
    color: whitesmoke;
    transition: all 0.4s ease 0.2s;
    border: solid #f9004d;
    background: transparent;
    border-radius: 30px;
    bottom: -6px;
    padding: 2px;
  }
  .header-text h1 {
    font-size: 40px;
    margin-top: 0;
    margin-left: 0;
    color: rgb(19, 228, 210);
  }
  /*about me */
  .about {
    margin-top: 110vh;
    width: 140vh;
    background-color: #191919;
    background-size: 140vh;
  }

  .about img {
    height: auto;
    width: 520px;
    border-radius: 25px;
    margin-left: 0;
  }
  .about-text {
    width: 300px;
  }

  .about-text h1 {
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .about-text h5 {
    color: white;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
  }

  .container-2 {
    width: 140vh;
    min-height: 100vh;
    background: #5c539d;
    background-size: cover;
  }
  .container-2 h2 {
    color: #fff;
    font-size: 62px;
    padding: 50px 0;
    text-align: center;
  }
  .price-row {
    width: 40%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-gap: 25px;

    margin-left: 1vh;
  }
  .price-col {
    background: #1f283b;
    padding: 10% 15%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
  }
  .price-col p {
    font-size: 2px;
  }
 /*-----------------------my work -------------------*/


 .container-3 {
  background-color: #191919;
  width: 140vh;
}
#portfolio h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vh;
  padding-top: 1vh;
}
.work-list {
  display: inline-block;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 60%;
  border-radius: 15px;
  display: block;
  transition: transform 0.5s;
  padding-left: 2px;
  border: solid #f9004d;
  border-width: 60%;
  justify-content: center;
  margin-left: 30vh;

  
}
.sub-title h1 {
  color: #ff004f;
}
.layer {
  width: 67%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 25px;
  transition: height 0.5s;
  margin-left: 30vh;
}
.layer h3 {
  font-weight: 900;
  margin-bottom: 20px;
}
.work:hover img {
  transform: scale(1.1);
  margin-left: 30vh;
}
.work:hover .layer {
  height: 100%;
  width: 65%;
  margin-left: 2px;
  margin-left: 28vh;
 

}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
  margin-bottom: 0;
  margin-left: 20px;
}
.btn:hover {
  background: #ff004f;
}

/*-------------------CONTACT ---------FORM-------------*/
.container-4{
  background-color: black;
  width: 140vh;
}
.contact-left{
  flex-basis: 35%;
}
.contact-right img{
  width: 10%;
  height: 40%;
}

.contact-right{
  flex-basis: 60%;
  
}
.sub-title{
  color: white;
}
.contact-left p{
  margin-top: 30px;
  color: #fff;
  
  
}
.contact-left h1{
  padding-top: 90px;
  font-size: 9vh;

}

.contact-left p i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;

}
.social-icons a{
  text-decoration: none;
  font-size: 40px;
  margin:0px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
  margin-left: 5px;
}
.social-icons a:hover{
  color: #ff004f;
  transform: translate(-5px);
}
.btn.btn2{
  display: inline-flex;
  background: #f9004d;
 
}
.contact-right form{
  width: 50%;
  
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form btn2{
  padding: 14px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}



}

/*-----------------------media query -------------------*/
